# GitHub Docs
# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ⚙️ Dependencies
node_modules/

# ⚛️ Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# 📱 React Native - Native Build folders
android/
ios/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# 🔒 Environment files
.env
.env*.local

# 🧪 Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# 🍎 macOS
.DS_Store

# 🧪 TypeScript
*.tsbuildinfo

# 📦 Misc
*.orig.*
*.pem
.metro-health-check*

# 💡 Optional: remove if not needed
app-example
